{% extends 'base.html' %}
{% load static %}

{% block title %}
a2zNewsBD
{% endblock title %}
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
{% endblock head %}

{% block maincontent %}
<style>
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 1s
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0
  }
  .alert-danger{
    color: red;
    text-align: center;
    background-color: goldenrod
  }

</style>

<div id="news">
  <transition name="slide-fade">
  </transition>
  <table class="table table-sm table-dark">
    <thead>
      <tr>
        <th style="width: 10px;" scope="col">#</th>
        <th scope="col">content</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(n, index) in news" style="height: 1%;  font-size:10pt">
        <th scope="row">[[ index+1 ]]</th>
        <td>[[ n ]]  </td>
      </tr>


    </tbody>
  </table>

</div>

<div class="container" id="card">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <button @click="checkButton('login')" :class="{button : buttonClass.button, button1: buttonClass.button1 , active: clickedButton === 'login','big-font': clickedButton === 'login'}">Log
          In</button>
        <button @click="checkButton('registration')" :class="{button : buttonClass.button, button1: buttonClass.button1, active: clickedButton === 'registration', 'big-font': clickedButton === 'registration' }" >Registration</button>
        <div class="d-flex justify-content-end social_icon">
          <span v-if="clickedButton=== 'login'"><i class="fab fa-facebook-square"></i></span>
          <span v-if="clickedButton=== 'login'"><i class="fab fa-google-plus-square"></i></span>
        </div>
      </div>
      <transition name="fade" mode="out-in">
        <div v-if="ValidationMessage" class="alert-danger" role="alert">
          [[ ValidationMessage ]]
        </div>
      </transition>
      <div class="card-body">
        <form>


          <div v-if="clickedButton=== 'login'">
          <input-field input-type="text" icon="fas fa-user" place-holder-value="username" v-model="user">
          </input-field>
          <input-field input-type="password" icon="fas fa-key" place-holder-value="password" v-model="pass">
          </input-field>
      </div>
      <div v-else>
        <input-field input-type="text"     icon="fas fa-user"     place-holder-value="username"         v-model="username"        :is-disable="disabledOption.username"></input-field>
        <input-field input-type="email"    icon="fas fa-envelope" place-holder-value="email"            v-model="email"            :is-disable="disabledOption.email"></input-field>
        <input-field input-type="text"     icon="fas fa-phone"    place-holder-value="phone number"     v-model="mobileNumber"    :is-disable="disabledOption.mobileNumber"></input-field>
        <input-field input-type="password" icon="fas fa-key"      place-holder-value="password"         v-model="password"        :is-disable="disabledOption.password"></input-field>
        <input-field input-type="password" icon="fas fa-key"      place-holder-value="confirm password" v-model="confirmPassword" :is-disable="disabledOption.confirmPassword"></input-field>
        <input-field input-type="text"     icon="fas fa-grin-alt" place-holder-value="age"              v-model="age"             :is-disable="disabledOption.age"></input-field>
      </div>

      <div class="row align-items-center remember">
        <input type="checkbox">Remember Me
      </div>
      <div class="form-group">
        <input @click.prevent="login" v-if="clickedButton=== 'login'" type="submit" value="Login"
          class="btn float-right login_btn" >
        <input v-else type="submit" value="Registration" class="btn float-right login_btn" :disabled="checkErrorForDisable">
      </div>
      </form>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center">
        <a href="#">Forgot your password?</a>
      </div>
    </div>
  </div>
</div>
</div>


{% endblock maincontent %}



{% block javascript %}

<script src="{% static 'vue/login.js' %}"></script>

{% endblock javascript %}